<%= stylesheet_link_tag "tasks", :media => "all" %>

<p>
  <%= notice %>
  <%= alert %>
</p>
<%= button_to "トップページ", "/", { method: :get } %>
<div>
  <%= form_with model: @task do |form| %>
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-wrapper"></div>
    <div class="form-items">
      <%= form.label :task_name %>
      <%= form.text_field :task_name %>
    </div>
    <div class="form-items">
      <%= form.label :detail %>
      <%= form.text_area :detail %>
    </div>
    <div class="form-items">
      <%= form.label :date_limit %>
      <%= form.date_field :date_limit %>
    </div>
    <div class="form-items">
      <%= form.label :priority %>
      <%= form.select :priority, Task.priorities.keys.to_a %>
    </div>
    <div class="form-items">
      <%= form.label :status %>
      <%= form.select :status, Task.statuses.keys.to_a %>
    </div>
    <div class="form-items">
      <div class="field">
        <%= form.collection_check_boxes(:label_ids, Label.all, :id, :label_name, include_hidden: false) do |b| %>
          <%= b.label { b.check_box + b.text } %>
        <% end %>
      </div>
      <%= form.submit "タスク作成" %>
  <% end %>
  </div>
</div>