<h1>Tasks#index</h1>
<p>
  <%= notice %>
  <%= alert %>
</p>
<p><%= request.path %></p>
<p><%= request.referer %></p>
<p><%= @prev_params %></p>
<p><%= params_generator({ status: 1 })%></p>
<%= button_to "ラベル管理", "/labels", {method: :get } %>
<%= button_to "タスク新規登録", { controller: 'tasks', action: 'new' }, {method: :get } %>
<%= button_to "条件を全てリセット","/tasks", { method: :get, params: {reset: true} } %>
<%= form_with url:"/tasks", method: :get do |f| %>
  <%= f.text_field :search_word %>
  <%= f.submit "検索" %>
<% end %>
<p>ステータスで絞り込む</p>
<table>
  <thead>
  <tr>
    <th><%=  params_generator('なし', { status: nil })%></th>
    <th><%= params_generator('未着手', { status: 0 })%></th>
    <th><%= params_generator('着手中', { status: 1 })%></th>
    <th><%= params_generator('完了', { status: 2 })%></th>
  </tr>
  </thead>
</table>
<table>
  <thead>
  <tr>
    <th scope="col"><%=  sort_order "task_name", "タスク名" %></th>
    <th scope="col"><%=  sort_order "detail", "タスク詳細" %></th>
    <th scope="col"><%=  sort_order "date_limit", "終了期限" %></th>
    <th scope="col"><%=  sort_order "priority", "優先度" %></th>
    <th scope="col">ステータス </th>
    <th scope="col"> label </th>
    <th scope="col"><%=  sort_order "created_at", "作成日" %></th>
    <th scope="col"> 削除 </th>
  </tr>
  </thead>
<tbody>
<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.task_name, edit_task_path(task) %></td>
    <td><%= task.detail %></td>
    <td><%= task.date_limit %></td>
    <td><%= task.priority %></td>
    <td><%= task.status %></td>
    <td>
      <% task.labels.each do |label| %>
        <%= label.label_name %>
      <% end %>
    </td>
    <td><%= task.created_at %></td>
    <td><%= link_to("削除", "/tasks/#{task.id}/destroy", {method: "post"} ) %></td>
  </tr>
<% end %>
</tbody>
</table>