<h1>Tasks#index</h1>
<p>
  <%= notice %>
  <%= alert %>
</p>
<%= button_to "トップページ", "/", {method: :get } %>
<p><%= request.path %></p>
<p><%= request.referer %></p>

<%= form_with model: @new_label do |f| %>
  <%= f.text_field :label_name %>
  <%= f.submit "ラベル新規作成"%>
<% end %>
<table>
  <thead>
  <tr>
    <th scope="col"><span>ラベル名</span></th>
    <th scope="col"><span>作成日</span></th>
    <th scope="col"> 削除 </th>
  </tr>
  </thead>
<tbody>
<% @labels.each do |label| %>
  <tr>
    <td><%= link_to label.label_name, "/labels/#{label.id}/edit", method: "post" %></td>
    <td><%= label.created_at ? label.created_at.strftime('%Y年%m月%d日'):'-'  %></td>
    <td><%= link_to("削除", "/labels/#{label.id}/destroy", {method: "post"} ) %></td>
  </tr>
<% end %>
</tbody>
</table>